
 <%- include('../partial/header.ejs')%>
 <body>
     <!-- ? Preloader Start -->
     <div id="preloader-active">
         <div class="preloader d-flex align-items-center justify-content-center">
             <div class="preloader-inner position-relative">
                 <div class="preloader-circle"></div>
                 <div class="preloader-img pere-text">
                     <img src="../assets/img/logo/loder.png" alt="">
                 </div>
             </div>
         </div>
     </div>
     <!-- Preloader Start -->
     <header>
         <!--? Header Start -->
         <div class="header-area header-transparent">
             <div class="main-header header-sticky">
                 <div class="container-fluid">
                     <div class="row align-items-center">
                         <!-- Logo -->
                         <div class="col-xl-2 col-lg-2 col-md-1">
                             <div class="logo">
                                 <a href="/" style="font-size: 20px; font-weight:700 " ><img src="../assets/img/logo/logo2.png" alt=""> BREWER & BEER </a>
                             </div>
                         </div>
                         <div class="col-xl-10 col-lg-10 col-md-10">
                             <div class="menu-main d-flex align-items-center justify-content-end">
                                 <!-- Main-menu -->
                                 <div class="main-menu f-right d-none d-lg-block">
                                     <nav>
                                         <ul id="navigation" style="font-weight: 700;">
                                             <li><a href="/">Accueil</a></li>
                                             <li><a href="*">Histoire</a></li>
                                             <li><a href="*">Fabrication</a></li>
                                             <li><a href="*">Biéres</a></li>
                                             <li><a href="*">galleries</a></li>
                                             <li><a href="*">Blog</a>
                                                 <ul class="submenu">
                                                     <li><a href="*">Blog</a></li>
                                                     <li><a href="*">Blog Details</a></li>
                                                     <li><a href="*">Element</a></li>
                                                 </ul>
                                             </li>
                                             <li><a href="*">Contact</a></li>
                                         </ul>
                                     </nav>
                                 </div>
                                 <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                     <!-- <a href="*" class="btn header-btn">became a member</a> -->
                                 </div>
                             </div>
                         </div>   
                         <!-- Mobile Menu -->
                         <div class="col-12">
                             <div class="mobile_menu d-block d-lg-none"></div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- Header End -->
     </header>
     <main>
         <!--? Hero Start -->
         <div class="slider-area2">
             <div class="slider-height2 d-flex align-items-center">
                 <div class="container">
                     <div class="row">
                         <div class="col-xl-12">
                             <div class="hero-cap hero-cap2 text-center pt-70">
                                 <h2>S'INSCRIRE</h2>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- Hero End -->
         <!--? Contact form Start -->
         <div class="contact-form-main mt-100 mb-100">
             <div class="container">
                 <div class="row justify-content-end">
                     <div class="col-xl-7 col-lg-7">
                         <div class="form-wrapper">
                             <!--Section Tittle  -->
                             <div class="form-tittle">
                                 <div class="row ">
                                     <div class="col-lg-11 col-md-10 col-sm-10">
                                         <div class="section-tittle">
                                             <span>Contact</span>
                                             <h2>votre connection</h2>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <!--End Section Tittle  -->
                             <form id="contact-form" action="#" method="POST">
                                 <div class="row">
                                     <div class="col-lg-6 col-md-6">
                                         <div class="form-box user-icon mb-30">
                                             <input type="text" name="name" placeholder="Name">
                                         </div>
                                     </div>
                                     <div class="col-lg-6 col-md-6">
                                         <div class="form-box email-icon mb-30">
                                             <input type="email" name="subject" placeholder="Email">
                                         </div>
                                     </div>
                                     <div class="col-lg-6 col-md-6 mb-30">
                                         <div class="select-itms">
                                             <select name="select" id="select2">
                                                 <option value="">admin</option>
                                                 <option value="">users</option>
                                                
                                             </select>
                                         </div>
                                     </div>
                                     <div class="col-lg-6 col-md-6">
                                         <div class="form-box subject-icon mb-30">
                                             <input type="password" name="password" placeholder="Password">
                                         </div>
                                     </div>
                                     <div class="col-lg-12">
                                         
                                         <div class="submit-info">
                                             <button class="btn" type="submit">enregistrer</button>
                                         </div>
                                     </div>
                                 </div>
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
             <!-- contact left Img-->
             <div class="from-left d-none d-lg-block">
                 <img src="../assets/img/gallery/houblon_vert.jpg" alt="">
             </div>
         </div>
         <!-- Contact form End -->
     </main>
     <%- include('../partial/footer.ejs')%>