<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

    <title>ajouter un brasseur de biere</title>
</head>
<style>
    body {

        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        object-fit: contain;

    }

    h4 {
        text-transform: capitalize;
        font-size: 35px;
    }

    .form-control {
        font-size: 20px;
        font-weight: 600;
    }
</style>



<body class="fix-header">

    <div class="row justify-content-center">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/admin/articles" class="btn btn-secondary"><i></i>Retour liste</a>
            </li>

        </ul>

    </div>
    <h1 style="text-align: center;"> <%= title %> </h1>

    <!-- formulaire pour ajouter un article -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <form method="POST" action="" enctype="multipart/form-data">
                    <div class="form-group input">
                        <label for="actu_id">
                            <h4>id</h4>
                        </label>
                        <input type="text" class="form-control" id="actu_id" name="actu_id">
                    </div>

                    <div class="form-group input">
                        <label for="actuTitle">
                            <h4>Titre de l'article</h4>
                        </label>
                        <input type="text" class="form-control" id="actuTitle" name="actuTitle">
                    </div>
                    <label for="actuContent">
                        <h4>Contenu de l'article</h4>
                    </label>
                    
                        <textarea name="actuContent" id="summernote" cols="30" rows="10"></textarea>
                
            </div>
        </div>
        <div class="form-group">
            <label for="author">
                <h4>Auteur de l'article</h4>
            </label>
            <input class="form-control" type="text" name="author" id="author"></input>
        </div>
        <div class="form-group">
            <label for="Date">

            </label>
            <h4>Date de article</h4>
            <input type="date" class="form-control" id="Date" name="Date">
        </div>

        <div class="form-group">
            <label for="created_at">
            </label>
            <h4>Date de publication</h4>
            <input type="date" class="form-control" id="created_at" name="created_at">
        </div>

        <div class="form-group">
            <label for="image">
                <h5>Image</h5>
            </label><br>
            <input type="file" id="image" name="image">
            <br><br>
        </div>
        <input type="submit" class="btn btn-primary" value="Ajouter un article">
        </form>
    </div>
    </div>
    </div>
    <script>
        $('#summernote').summernote({
            placeholder: 'contenu article',
            tabsize: 2,
            height: 100
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>