<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>ajouter un brasseur de biere</title>
</head>
<style>
    body {

        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        object-fit: contain;

    }

    h4 {
        text-transform: capitalize;
        font-size: 35px;
    }

    .form-control {
        font-size: 20px;
        font-weight: 600;
    }
</style>



<body class="fix-header">

    <div class="row justify-content-center">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/admin/brasseurs" class="btn btn-secondary"><i></i>Retour liste</a>
            </li>
            
        </ul>
        
    </div>
    <h1 style="text-align: center;"> <%= title %>   </h1>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <form method="POST" action="#" enctype="multipart/form-data">
                    <div class="form-group input">
                        <label for="brewer_id">
                            <h4>id</h4>
                        </label>
                        <input type="text" class="form-control" id="brewer_id" name="brewer_id">
                    </div>
                   
                    <div class="form-group input">
                        <label for="nameBrass">
                            <h4>Nom du brasseur</h4>
                        </label>
                        <input type="text" class="form-control" id="nameBrass" name="nameBrass">
                    </div>
                    <div class="form-group">
                        <label for="address">
                        </label>
                        <h4>adresse</h4>
                        <input type="text" class="form-control" id="address" name="address">
                    </div>
                    <div class="form-group">
                        <label for="nameCp">

                        </label>
                        <h4>code postal</h4>
                        <input type="text" class="form-control" id="nameCp" name="nameCp">
                    </div>
                    <div class="form-group">
                        <label for="nameTown">
                        </label>
                        <h4>la ville</h4>
                        <input type="text" class="form-control" id="nameTown" name="nameTown">
                    </div>
                    <div class="form-group">
                        <label for="nameWeb">
                        </label>
                        <h4>adresse web</h4>
                        <input type="text" class="form-control" id="nameWeb" name="nameWeb">
                    </div>
                    <div class="form-group">
                        <label for="nameFacebook">
                        </label>
                        <h4>adresse facebook</h4>
                        <input type="text" class="form-control" id="nameFacebook" name="nameFacebook">
                    </div>

                    <div class="form-group">
                        <label for="email">
                        </label>
                        <h4>email</h4>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="phone">
                        </label>
                        <h4>telephone</h4>
                        <input type="text" class="form-control" id="phone" name="phone">
                    </div>
                   <div class="form-group">
                    <label for="created_at">
                    </label>
                    <h4>logo</h4>
                    <input type="text" class="form-control" id="logo" name="logo">
                </div>
                      <div class="form-group">
                        <label for="listBeer">
                            <h4>nom des bieres</h4>
                        </label>
                        <input class="form-control" type="text" name="listBeer" id="listBeer"></input>
                    </div> 
                    <div class="form-group">
                        <label for="content">
                            <h4>contenu</h4>
                        </label>
                        <input class="form-control" type="text" name="content" id="content"></input>
                    </div> 
                    <div class="form-group">
                        <label for="created_at">
                        </label>
                        <h4>Date creation</h4>
                        <input type="date" class="form-control" id="created_at" name="created_at">
                    </div>
                  
                    <!-- <div class="form-group">
            <label for="file">
                <h5>logo</h5>
            </label><br>
            <input type="file" id="file" name="file">
            <br><br>
        </div>  -->
                    <input type="submit" class="btn btn-primary" value="Ajouter un brasseur">
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>