<%- include('../partial/admin/head.ejs') %>
<body class="fix-header">
<div class="row justify-content-center">
    <div class="col-sm-5 ">
        <img src="/uploads/" alt="" style="width: 100%;">

    </div>
</div><br>
<div class="container">
    <div class="row justify-content-center">


        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <a href="/add/" class="btn btn-success">Editer</a>
                <a href="/delete/" class="btn btn-danger">Supprimer</a><br><br>



                <h2 style="text-decoration: underline;"> <%= title %> </h2>
                <p class="lead" style="font-size: 30px;">
                    <h1> </h1>
                </p>

                <hr>
                <h3>Adresse : </h3>
                <br>

                <h3>Code postal : </h3>

                <br>
                <h3>Ville : </h3>

                <br>
                <br>
                <h3>web : </h3>

                <br>
                <br>
                <h3>facebook : </h3>

                <br>
                <br>
                <h3>date de creation : </h3>

                <br>

            </div>

        </div>
    </div>
</div>

<%- include('../partial/admin/footer.ejs') %>

</body>