<html lang="fr">

    <%- include('../partial/admin/head.ejs')%>

<div class="jumbotron">
	<h1>Welcome</h1>
	<p>Hello Dashboard</p>
	<p>
		<a class="btn btn-lg btn-primary" href="/" title="">Profile View >></a>
	</p>
</div>	

<%- include('../partial/admin/footer.ejs')%>