<%- include('partial/head.ejs')%>
<!-- <META HTTP-EQUIV="Refresh" CONTENT="10; URL=http://localhost:1998/brasseurs/brasseurs"> -->

<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="/http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.ie.css" />
<![endif]-->
<script src="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.js"></script>

<style>
   body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
   }

   #map {

      display: flex;
      align-content: center;

      width: 800px;
      height: 600px;
      z-index: 1;
   }
   @media(max-width: 550px){
      #map{
         width: 325px;
         height: 250px;
      }
   }

   #results {

      position: absolute;
      font-size: 15px;

   }

   ul li a {
      color:white;
      z-index: 1;
   }

   ul li a:hover {
      color: red !important;
      font-weight: 700;
      z-index: 1;

   }
</style>

<body>

   <!--? Preloader Start -->
   <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
         <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
               <img src="../assets/img/logo/loder.png" alt="">
            </div>
         </div>
      </div>
   </div>

   <!-- Preloader Start -->
   <%- include('partial/header.ejs')%>

   <!--? Hero Start -->
 
   <div class="slider-area2">
      <div class="slider-height2 d-flex align-items-center">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-cap hero-cap2 pt-70 text-center">
                     <h2>&#127866;LES BRASSEURS </h2>
                     <!-- <div class="container ">
                        <div class="row">
                           <div class="form-group">
                              <h1 style="color: white;" >Sélectionnez un département</h1>
                              <input style="font-size: 20px;" class="form-control"type="text" id="search" />
                              <div  id="results"></div>
                              
                           </div>
                        </div>
                     </div> -->
               
<!-- <button id="redirect" style="color: black;" >Go to site</button> -->
                     <!-- <h2>LES BRASSEURS</h2> --> 
                  </div>
                 
               </div>
            </div>
         
         </div>
      </div>
   </div>

   <hr>
 

   <!-- Search -->
 
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div id="map"></div>
         </div>
      </div>
   </div>
<h4  class="title"></h4>
  
   <!-- <div class="container">
      <div class="row justify-content-center">
         <div class="col-12 col-sm-6">
            <h1>departement</h1>
            <form action="">
               <div class="form-group">
                  <label for="departement"></label>
                  <input type="text" maxlength="20" class="form-control" placeholder="Rechercher un Departement"id="search">
               </div>
            </form>
            <div id="results"></div>
         </div>
      </div>
   </div>  -->
  

   <script src="/search.js"></script>

   <script src="/map.js"></script>

   </script>

   <%- include('partial/footer.ejs')%>