<%- include('partial/head.ejs')%>
<!-- <META HTTP-EQUIV="Refresh" CONTENT="10; URL=http://localhost:1998/brasseurs/brasseurs"> -->

<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="/http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.ie.css" />
<![endif]-->
<script src="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.js"></script>

<style>
   body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
   }

   #map {

      display: flex;
      align-content: center;

      width: 800px;
      height: 600px;
      z-index: 1;
   }
   @media(max-width: 550px){
      #map{
         width: 325px;
         height: 250px;
      }
   }

   #results {

      position: absolute;
      font-size: 15px;

   }

   ul li a {
      color:white;
      z-index: 1;
   }

   ul li a:hover {
      color: red !important;
      font-weight: 700;
      z-index: 1;

   }
</style>

<body>

   <!--? Preloader Start -->
   <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
         <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
               <img src="../assets/img/logo/loder.png" alt="">
            </div>
         </div>
      </div>
   </div>

   <!-- Preloader Start -->
   <%- include('partial/header.ejs')%>

   <!--? Hero Start -->
 
   <div class="slider-area2">
      <div class="slider-height2 d-flex align-items-center">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-cap hero-cap2 pt-70 text-center">
                     <h2>&#127866;LES BRASSEURS </h2>
                     <!-- <div class="container ">
                        <div class="row">
                           <div class="form-group">
                              <h1 style="color: white;" >Sélectionnez un département</h1>
                              <input style="font-size: 20px;" class="form-control"type="text" id="search" />
                              <div  id="results"></div>
                              
                           </div>
                        </div>
                     </div> -->
               
<!-- <button id="redirect" style="color: black;" >Go to site</button> -->
                     <!-- <h2>LES BRASSEURS</h2> --> 
                  </div>
                 
               </div>
            </div>
         
         </div>
      </div>
   </div>

   <hr>
 

   <!-- Search -->
 
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div id="map"></div>
         </div>
      </div>
   </div>
<h4  class="title"></h4>
  
   <!-- <div class="container">
      <div class="row justify-content-center">
         <div class="col-12 col-sm-6">
            <h1>departement</h1>
            <form action="">
               <div class="form-group">
                  <label for="departement"></label>
                  <input type="text" maxlength="20" class="form-control" placeholder="Rechercher un Departement"id="search">
               </div>
            </form>
            <div id="results"></div>
         </div>
      </div>
   </div>  -->
   <main>
      <div class="whole-wrap">
         <div class="container box_1170">
            <div class="section-top-border">
               <h3 class="mb-30">Left Aligned</h3>
               <div class="row">
                  <div class="col-md-3">
                     <img src="../assets/img/elements/d.jpg" alt="" class="img-fluid">
                  </div>
                  <div class="col-md-9 mt-sm-20">
                     <p>Recently, the US Federal government banned online casinos from operating in America by
                        making
                        it illegal to
                        transfer money to them through any US bank or payment system. As a result of this law,
                        most
                        of the popular
                        online casino networks such as Party Gaming and PlayTech left the United States.
                        Overnight,
                        online casino
                        players found themselves being chased by the Federal government. But, after a fortnight,
                        the
                        online casino
                        industry came up with a solution and new online casinos started taking root. These began
                        to
                        operate under a
                        different business umbrella, and by doing that, rendered the transfer of money to and from
                        them legal. A major
                        part of this was enlisting electronic banking systems that would accept this new
                        clarification and start doing
                        business with me. Listed in this article are the electronic banking systems that accept
                        players from the United
                        States that wish to play in online casinos.</p>
                  </div>
               </div>
            </div>
            <div class="section-top-border text-right">
               <h3 class="mb-30">Right Aligned</h3>
               <div class="row">
                  <div class="col-md-9">
                     <p class="text-right">Over time, even the most sophisticated, memory packed computer can
                        begin
                        to run slow if we
                        don’t do something to prevent it. The reason why has less to do with how computers are
                        made
                        and how they age and
                        more to do with the way we use them. You see, all of the daily tasks that we do on our PC
                        from running programs
                        to downloading and deleting software can make our computer sluggish. To keep this from
                        happening, you need to
                        understand the reasons why your PC is getting slower and do something to keep your PC
                        running at its best. You
                        can do this through regular maintenance and PC performance optimization programs</p>
                     <p class="text-right">Before we discuss all of the things that could be affecting your PC’s
                        performance, let’s
                        talk a little about what symptoms</p>
                  </div>
                  <div class="col-md-3">
                     <img src="../assets/img/elements/d.jpg" alt="" class="img-fluid">
                  </div>
               </div>
            </div>
            <div class="section-top-border">
               <h3 class="mb-30">Definition</h3>
               <div class="row">
                  <div class="col-md-4">
                     <div class="single-defination">
                        <h4 class="mb-20">Definition 01</h4>
                        <p>Recently, the US Federal government banned online casinos from operating in America by
                           making it illegal to
                           transfer money to them through any US bank or payment system. As a result of this law,
                           most of the popular
                           online casino networks</p>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="single-defination">
                        <h4 class="mb-20">Definition 02</h4>
                        <p>Recently, the US Federal government banned online casinos from operating in America by
                           making it illegal to
                           transfer money to them through any US bank or payment system. As a result of this law,
                           most of the popular
                           online casino networks</p>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="single-defination">
                        <h4 class="mb-20">Definition 03</h4>
                        <p>Recently, the US Federal government banned online casinos from operating in America by
                           making it illegal to
                           transfer money to them through any US bank or payment system. As a result of this law,
                           most of the popular
                           online casino networks</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="section-top-border">
               <h3 class="mb-30">Block Quotes</h3>
               <div class="row">
                  <div class="col-lg-12">
                     <blockquote class="generic-blockquote">
                        “Recently, the US Federal government banned online casinos from operating in America by
                        making it illegal to
                        transfer money to them through any US bank or payment system. As a result of this law,
                        most
                        of the popular
                        online casino networks such as Party Gaming and PlayTech left the United States.
                        Overnight,
                        online casino
                        players found themselves being chased by the Federal government. But, after a fortnight,
                        the
                        online casino
                        industry came up with a solution and new online casinos started taking root. These began
                        to
                        operate under a
                        different business umbrella, and by doing that, rendered the transfer of money to and from
                        them legal. A major
                        part of this was enlisting electronic banking systems that would accept this new
                        clarification and start doing
                        business with me. Listed in this article are the electronic banking”
                     </blockquote>
                  </div>
               </div>
            </div>
            <div class="section-top-border">
               <h3 class="mb-30">Table</h3>
               <div class="progress-table-wrap">
                  <div class="progress-table">
                     <div class="table-head">
                        <div class="serial">#</div>
                        <div class="country">Countries</div>
                        <div class="visit">Visits</div>
                        <div class="percentage">Percentages</div>
                     </div>
                     <div class="table-row">
                        <div class="serial">01</div>
                        <div class="country"> <img src="../assets/img/elements/f1.jpg" alt="flag">Canada</div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                           <div class="progress">
                              <div class="progress-bar color-1" role="progressbar" style="width: 80%" aria-valuenow="80"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </div>
                     </div>
                     <div class="table-row">
                        <div class="serial">02</div>
                        <div class="country"> <img src="../assets/img/elements/f2.jpg" alt="flag">Canada</div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                           <div class="progress">
                              <div class="progress-bar color-2" role="progressbar" style="width: 30%" aria-valuenow="30"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </div>
                     </div>
                     <div class="table-row">
                        <div class="serial">03</div>
                        <div class="country"> <img src="../assets/img/elements/f3.jpg" alt="flag">Canada</div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                           <div class="progress">
                              <div class="progress-bar color-3" role="progressbar" style="width: 55%" aria-valuenow="55"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </div>
                     </div>
                     <div class="table-row">
                        <div class="serial">04</div>
                        <div class="country"> <img src="../assets/img/elements/f4.jpg" alt="flag">Canada</div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                           <div class="progress">
                              <div class="progress-bar color-4" role="progressbar" style="width: 60%" aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </div>
                     </div>
                     <div class="table-row">
                        <div class="serial">05</div>
                        <div class="country"> <img src="../assets/img/elements/f5.jpg" alt="flag">Canada</div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                           <div class="progress">
                              <div class="progress-bar color-5" role="progressbar" style="width: 40%" aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </div>
                     </div>
                     <div class="table-row">
                        <div class="serial">06</div>
                        <div class="country"> <img src="../assets/img/elements/f6.jpg" alt="flag">Canada</div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                           <div class="progress">
                              <div class="progress-bar color-6" role="progressbar" style="width: 70%" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </div>
                     </div>
                     <div class="table-row">
                        <div class="serial">07</div>
                        <div class="country"> <img src="../assets/img/elements/f7.jpg" alt="flag">Canada</div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                           <div class="progress">
                              <div class="progress-bar color-7" role="progressbar" style="width: 30%" aria-valuenow="30"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </div>
                     </div>
                     <div class="table-row">
                        <div class="serial">08</div>
                        <div class="country"> <img src="../assets/img/elements/f8.jpg" alt="flag">Canada</div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                           <div class="progress">
                              <div class="progress-bar color-8" role="progressbar" style="width: 60%" aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="section-top-border">
               <h3>Image Gallery</h3>
               <div class="row gallery-item">
                  <div class="col-md-4">
                     <a href="../assets/img/elements/g1.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(../assets/img/elements/g1.jpg);">
                        </div>
                     </a>
                  </div>
                  <div class="col-md-4">
                     <a href="../assets/img/elements/g2.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(../assets/img/elements/g2.jpg);">
                        </div>
                     </a>
                  </div>
                  <div class="col-md-4">
                     <a href="../assets/img/elements/g3.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(../assets/img/elements/g3.jpg);">
                        </div>
                     </a>
                  </div>
                  <div class="col-md-6">
                     <a href="../assets/img/elements/g4.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(../assets/img/elements/g4.jpg);">
                        </div>
                     </a>
                  </div>
                  <div class="col-md-6">
                     <a href="../assets/img/elements/g5.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(../assets/img/elements/g5.jpg);">
                        </div>
                     </a>
                  </div>
                  <div class="col-md-4">
                     <a href="../assets/img/elements/g6.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(../assets/img/elements/g6.jpg);">
                        </div>
                     </a>
                  </div>
                  <div class="col-md-4">
                     <a href="../assets/img/elements/g7.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(../assets/img/elements/g7.jpg);">
                        </div>
                     </a>
                  </div>
                  <div class="col-md-4">
                     <a href="../assets/img/elements/g8.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(../assets/img/elements/g8.jpg);">
                        </div>
                     </a>
                  </div>
               </div>
            </div>


         </div>
      </div>


      </section>


   </main>

   <script src="/search.js"></script>

   <script src="/map.js"></script>

   </script>

   <%- include('partial/footer.ejs')%>