<%- include('partial/head.ejs')%>
<!-- Load Leaflet from CDN -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin="" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>

<!-- Load Esri Leaflet from CDN -->
<script src="https://unpkg.com/esri-leaflet@2.3.3/dist/esri-leaflet.js"
   integrity="sha512-cMQ5e58BDuu1pr9BQ/eGRn6HaR6Olh0ofcHFWe5XesdCITVuSBiBZZbhCijBe5ya238f/zMMRYIMIIg1jxv4sQ=="
   crossorigin=""></script>

<!-- Load Esri Leaflet Geocoder from CDN -->
<link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.css"
   integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
   crossorigin="" />
<script src="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.js"
   integrity="sha512-8twnXcrOGP3WfMvjB0jS5pNigFuIWj4ALwWEgxhZ+mxvjF5/FBPVd5uAxqT8dd2kUmTVK9+yQJ4CmTmSg/sXAQ=="
   crossorigin=""></script>

<style>
   body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
   }

   #map {


      display: flex;
      justify-content: center;
      width: 700px;
      height: 500px;
      margin-bottom: 30px;
      margin-left: 400px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;

   }

   /* @media (max-width: 1080px){
      #map{
         width: 500px;
         height: 350px;
      }
   } */

   /* @media (max-width: 900px){
      #map{
         
         width: 300px;
         height: 200px;
      }
   }
   @media (max-width: 800px){
      #map{
         
       display: none;
      }
   }
   @media (max-width: 800px){
      #map{
         
       display: none;
      }
   } */

   .submit-info {
      margin-left: 220px;

   }

   @media (max-width: 1280px) {
      .btn.header-btn {
         width: 110px;
         height: 30px;


      }
   }
</style>

<body>

   <!--? Preloader Start -->
   <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
         <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
               <img src="assets/img/logo/loder.png" alt="">
            </div>
         </div>
      </div>
   </div>
   <!-- Preloader Start -->
   <%- include('partial/header.ejs')%>
   <main>
      <!--? Hero Start -->
      <div class="slider-area2">
         <div class="slider-height2 d-flex align-items-center">
            <div class="container">
               <div class="row">
                  <div class="col-xl-12">
                     <div class="hero-cap hero-cap2 pt-70 text-center">
                        <h2>LES BRASSEURS</h2>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- formulaire de recherche -->
      <section class="blog_area single-post-area section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 posts-list">
                  <div class="single-post">
                     <div class="feature-img">
                        <img class="img-fluid" src="" alt="">
                     </div>

                     <h1>votre recherche</h1>
                     <form method="get" id="searchform" action="http://localhost:1998/">
                       <input type="text" value="Search..." name="s" id="searchinput" />
                       <!-- <input type="image" alt="Submit" src="http://localhost:1998/" id="searchsubmit" /> -->
                     </form>
                     
                  </div>
               </div>
            </div>



      </section>
    
    <script>
const search_input = document.getElementById('search')
const results = document.getElementById('results')
let search_term = ''
let countries
const showCountries = async () => {
  // clearHTML
  results.innerHTML = ''
  // getting the data
  countries = await fetch('http://localhost:1998/brasseurs/brasseurs-api').then(res =>
    res.json()
  )
  // creating the structure
  const ul = document.createElement('ul')
  countries
    .filter(country =>
      country.name.toLowerCase().includes(search_term.toLowerCase())
    )
    .forEach(country => {
      const li = document.createElement('li')
      let country_name = document.createElement('a')
      country_name.innerText = country.name 
      country_name.href = '/homepays/' + country.id
    //   country_name.classList.add('country-name')
      li.appendChild(country_name)
      ul.appendChild(li)
    })
  results.appendChild(ul)
}
// display initial countries
// showCountries();
search_input.addEventListener('input', e => {
  search_term = e.target.value
  // re-display countries again based on the new search_term
  showCountries()
})






</script>
   </main>

   <%- include('partial/footer.ejs')%>