<%- include('partial/head.ejs')%>


<body>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center pt-70">
                            <h2>fabrication de la biere</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <%- include('partial/header.ejs')%>
    <div class="container">
        <h1 style="margin: 100PX; text-align: center;">LES ETAPES DE LA FABRICATION DE LA BIERE</h1>
        <div class="">
            <h2 style="color: #2d2d2d;">fabrication de la biere
            </h2>
            <P style="text-align: justify;">
                Description des différentes étapes de fabrication de la bière partant de la fabrication du malt à la
                malterie jusqu'à la production de bière à la brasserie.

            </P>
        </div>
        <div class="feature-img">
            <img class="img-fluid" src="assets/img/blog/fabbiere2.png" alt="fabrication biere">
        </div>
        <h2  style="margin: 50px 0 30px 0;" >La bière contient 4 composantes essentielles à sa fabrication </h2> 
        <h3>L’eau</h3> 
           <p> La bière en contient entre 90 et 95%. Pour faire 1 litre de bière, il faut en moyenne 25 litres d’eau. Pour un brassin idéal, il faut une eau avec un pH acide entre 5,5 et 5,8. L’eau est riche en sels minéraux dont la composition diffère selon les régions. Suivant la source dans laquelle elle est puisée, la bière sera différente en saveurs et en couleur.</p>
            
         <h3>Le malt</h3>   
         <p>  Le malt est une céréale qui a germée suivant un travail minutieux. On parle beaucoup du malt d’orge dans l’élaboration de la bière, mais il peut aussi être de seigle, de blé, d’épeautre, de riz, de maïs ou encore de sorgho.</p> 
            
           <h3>Le houblon</h3> 
         <p>   Cette plante herbacée va apporter l’amertume à la bière, mais aussi l’aromatique. Utilisée en quantité bien moins importante que les céréales, on utilise entre 1g et 10g de houblon par litre de bière selon les styles de bières et les variétés de houblons choisies.</p>
            
           <h3>Les levures</h3> 
         <p> Ce sont des micro-organismes de la famille des champignons. Elles sont primordiales dans la fabrication de la bière car elles permettent la fermentation alcoolique en transformant le sucre en alcool. Elles sont aussi une source supplémentaire de saveurs pour le brasseur qui vont influer sur le goût de la bière.</p>   
       
        <h1 style="text-align: center; margin-bottom: 10px;">Les grandes étapes de la fabrication de la bière</h1>
        <h2>1. Le brassage</h2>
        <p style="text-align: justify;">Une fois la céréale devenue malt, la céréale germée est concassée pour devenir une mouture de malt. Elle ne doit être ni trop fine ni trop grosse et sera ensuite mélangée à de l’eau chaude pour obtenir la maische, c’est l’étape de l’empâtage. Il faut monter ce mélange en température pour réveiller les enzymes qui vont alors extraire l’amidon des céréales pour les transformer en sucres jusqu’à obtention d’un moût sucré.

            Ce moût est transféré dans la cuve d’ébullition afin d’y être cuit et stérilisé. C’est là qu’on ajoute les houblons, les épices, les plantes, les herbes, le miel… Et la magie des brasseurs opère. Le temps d’ébullition varie en fonction de la recette de la bière. Plus le moût est cuit longtemps, plus il concentre les goûts et se colore. Afin d’illustrer au mieux nos propos, vous trouverez une Box Découverte sur MaBièreArtisanale pour tester 7 recettes de bières artisanales différentes.</p>
        <h2>2. La fermentation</h2>
        <p style="text-align: justify;">La bière devient bière à cette étape. On place le moût dans une cuve de fermentation contenant des levures. Le moût est refroidi jusqu’à la température de fermentation voulue selon la recette suivie, puis il est ensemencé avec une levure à bière. Ces dernières se multiplient et quand il n’y a plus d’oxygène, elles se nourrissent des sucres et libèrent l’alcool et le gaz carbonique.</p>
        <h2>3. La garde ou maturation</h2>
        <p style="text-align: justify;">La bière obtenue est alors conservée dans une cuve de garde pendant plusieurs semaines à 0°C. Les levures vont continuer leur travail en enrichissant la bière en gaz carbonique. C’est à ce moment que peut se pratiquer le houblonnage à cru (dry hopping) de certaines recettes en procédant par infusion de houblons aromatiques directement dans la cuve.</p>
        <h2>4. La filtration</h2>
        <p style="text-align: justify;">On retire les levures résiduelles et les impuretés afin de produire une bière limpide. Le succès de cette filtration est d’autant plus important qu’il s’agit de la dernière étape avant le conditionnement. Ceci n’est pas le cas des bières avec refermentation en bouteille. Pour ce procédé, le brasseur ajoute du sucre ou de la levure avant la mise en bouteille, suivi d’une garde chaude de plusieurs semaines à 25°C. C’est pour cette raison que vous avez déjà pu observer l’existence d’un dépôt au fond de votre bouteille de bière artisanale et c’est aussi pour cela qu’il faut les conserver debout. Si vous souhaitez en savoir plus, vous trouverez de beaux exemples de bières refermentées en bouteille sur MaBièreArtisanale.</p>
        <h2>5. Le conditionnement</h2>
        <p style="text-align: justify;">En fûts, en bouteilles ou en canettes. La bière est mise en bouteille par une machine qui s’appelle une embouteilleuse, en fût par une machine d’enfûtage et en canette par une machine d'encannage.

            Ce contenu publi-éditorial vous est proposé par Mabièreartisanale.fr
            
            
        </p>
        <div class="feature-img" style="margin-bottom: 50px;" >
            <img class="img-fluid" src="assets/img/blog/fabbeer3.png" alt="fabrication biere">
        </div>
      
    </div>
    <%- include('partial/footer.ejs')%>