<%- include('partial/head.ejs')%>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <%- include('partial/header.ejs')%>
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center pt-70">
                                <h2>galleries</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Gallery Area Start -->
        <div class="gallery-area section-padding30">
            <div class="container-fluid p-0 fix">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/image1.jpg);"></div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <a href="/"><i class="ti-arrow-top-right"></i></a>
                                    <h3></h3>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="box snake mb-30">
                                    <div class="gallery-img small-img" style="background-image: url(assets/img/gallery/image2.jpg);"></div>
                                    <div class="overlay">
                                        <div class="overlay-content">
                                            <a href="/"><i class="ti-arrow-top-right"></i></a>
                                            <h3></h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="box snake mb-30">
                                    <div class="gallery-img small-img" style="background-image: url(assets/img/gallery/image3.jpg);"></div>
                                    <div class="overlay">
                                        <div class="overlay-content">
                                            <a href="/"><i class="ti-arrow-top-right"></i></a>
                                            <h3></h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="box snake mb-30">
                                    <div class="gallery-img small-img" style="background-image: url(assets/img/gallery/image4.png);"></div>
                                    <div class="overlay">
                                        <div class="overlay-content">
                                            <a href="/"><i class="ti-arrow-top-right"></i></a>
                                            <h3></h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="box snake mb-30">
                                    <div class="gallery-img small-img" style="background-image: url(assets/img/gallery/image5.jpg);"></div>
                                    <div class="overlay">
                                        <div class="overlay-content">
                                            <a href="/"><i class="ti-arrow-top-right"></i></a>
                                            <h3></h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery Area End -->
    </main>
    <%- include('partial/footer.ejs')%>