<%- include('partial/head.ejs')%>


<body>
      <!-- ? Preloader Start -->
      <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../assets/img/logo/loder.png" alt="brasseur et biere">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center pt-70">
                            <h2>histoire de la biere</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <%- include('partial/header.ejs')%>
    <div class="whole-wrap">
        <div class="container box_1170">
            <div class="section-top-border">
                <h1 class="mb-30">PREHISTOIRE ET ANTIQUITE</h1>
                <div class="row">
                    <div class="col-md-3">
                        <img src="../assets/img/elements/biere-egyptienne2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20 text-justify">
                        <p> Premiers vestiges
                            La bière est l'un des breuvages alcoolisés les plus anciens. Les premières traces de son
                            existence remontent à
                            environ 4000 ans avant J-C en Mésopotamie. Des tables d'argile témoignent de la présence
                            d'une boisson fermentée
                            élaborée à base de grains, le Sikaru. Ce breuvage fort apprécié a été l'objet de différentes
                            croyances tout au long
                            de son histoire.

                            Sous l'ancienne Egypte, la "bière" était une boisson d'origine divine. Selon la légende, le
                            dieu Osiris aurait
                            oublié au soleil une décoction d'orge mélangée à de l'eau sacrée du Nil, créant ainsi "le
                            vin d'orge". La bière
                            était préparée par des femmes et servie par des prêtresses. La divine bienfaitrice est de
                            plus en plus appréciée et
                            ses usages thérapeutiques se multiplient. La bière s'affirme également comme boisson
                            d'accueil, comme aliment, puis
                            devient monnaie d'échange.

                            Dans la Grèce Antique, la bière est reconnue pour ses vertus médicinales. Mais les Grecs et
                            les Romains, grands
                            amateurs de vin, ne s'intéressent guère à la bière.
                            Pour les Gaulois, la bière ou Cervisia (Cervoise en l'honneur de Cérés, la déesse des
                            moissons) est une véritable
                            potion magique. Les Gaulois sont aussi les inventeurs du tonneau permettant de mieux
                            contrôler la fermentation et le
                            stockage de la cervoise. La recette ressemble étrangement à celle que l'on connaît
                            aujourd'hui mais la bière était
                            aromatisée (miel, épices et plantes aromatiques).</p>
                    </div>
                </div>
            </div>
            <div class="section-top-border text-right">
                <h1 class="mb-30">MOYEN AGE</h1>
                <div class="row">
                   <div style="text-align: justify;"class="col-md-9">
                      <p   class="text-rigth">  C'est au XII ème siècle que le houblon, plante réputée pour ses vertus antiseptiques, fit une apparition dans la
                        fabrication de la bière et y conféra sa délicieuse amertume.
                    
                        La fabrication devient alors un art particulièrement subtil. A ce jeu là, les moines se montreront experts. Et
                        certains noms d'abbayes traverseront les siècles. Durant tout le Moyen-Âge, la bière s'épanouit principalement dans
                        le Nord, chez les peuples anglo-saxons.
                    
                        La boisson religieusement fermentée connaît de nombreux adeptes chez les germains et ce sont eux qui lui donneront
                        son nom actuel : "Bier", qui deviendra "Bière". Charlemagne, par soucis de qualité, confère le monopole de la
                        fabrication de la bière aux moines. Du IX au XIVe siècle, la bière était principalement fabriquée par les moines.
                        Les laïcs s'adonnant à cette pratique devaient s'acquitter d'une taxe : le droit de Gruyt qu'ils reversaient aux
                        moines.</p>
                    
                   </div>
                   <div class="col-md-3">
                      <img src="../assets/img/elements/moyenagebeer.jpg" alt="" class="img-fluid">
                   </div>
                </div>
             </div>
             <div class="section-top-border">
                <h1 class="mb-30 ">RENAISSANCE</h1>
                <div class="row">
                    <div class="col-md-3">
                        <img src="../assets/img/elements/renaissence.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20 text-justify">
                        <p>     En France, la fabrication de la bière est codifiée réglementée et fiscalisée, le statut des brasseurs de Paris
                            est
                            défini en 1489 et le terme de «bière» est utilisé. La bière doit être fabriquée uniquement par des maîtres
                            brasseurs
                            et à partir des ingrédients suivants : du grain, de l'eau et du houblon.</p>
                    </div>
                </div>
            </div>
            <div class="section-top-border text-right">
                <h1 class="mb-30">LA REVOLUTION INDUSTRIELLE</h1>
                <div class="row">
                   <div style="text-align: justify;" class="col-md-9 ">
                      <p class="text-right">  Depuis toujours la bière est un produit instable et fragile la fermentation reste un phénomène mystérieux et
                        divin.
                        En 1854, Pasteur s'intéresse à la chimie de la fermentation et met à jour l'existence de micro-organismes dans
                        la
                        levure. Les recherches scientifiques sur les micro-organismes vont permettre de maîtriser le processus de la
                        fermentation alcoolique et d'améliorer les conditions sanitaires des brasseries afin de produire une boisson
                        plus
                        saine et plus claire.
                        Pour les brasseurs et tous les amoureux de la bière, c'est une révolution! Cette boisson fragile peut maintenant
                        être conservée et consommée loin de son lieu de fabrication. Le développement de la verrerie, des appareils de
                        filtration, du soutirage sous-pression, de l'embouteillage et de la réfrigération permet d'accroître la qualité
                        et
                        la production.
                
                        Les brasseries fonctionnent désormais en toute saison, quels que soient les caprices du temps. Le fruit des
                        brasseries est maintenant très répandu en Europe</p>
                    
                   </div>
                   <div class="col-md-3">
                      <img src="../assets/img/elements/biere1900.jpg" alt="" class="img-fluid">
                   </div>
                </div>
             </div>
             <div class="section-top-border">
                <h1 class="mb-30">DE NOS JOURS</h1>
                <div class="row">
                    <div class="col-md-3">
                        <img src="../assets/img/elements/beermodern.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20 text-justify">
                        <p> Le goût de la bière devenu maintenant plus doux attire une nouvelle clientèle. Le brassage de la bière et la
                            distribution se font à une plus grande échelle. C'est ainsi que nous en arrivons à la bière d'aujourd'hui, une
                            bière
                            aux goûts variés et consommée dans les quatre coins du monde.
                    
                            La fabrication de la bière est maintenant presque totalement automatisée dans la plupart de ses étapes de
                            fabrication, le nombre de brasseries traditionnelles est en déclin. Les nouvelles technologies et la recherche
                            permettent d'obtenir un produit de très bonne qualité.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partial/footer.ejs')%>