<%- include('partial/header.ejs')%>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="/" style="font-size: 20px; font-weight:700 "><img
                                        src="../assets/img/logo/logo2.png" alt=""> BREWER & BEER </a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation" style="font-weight: 700;">
                                            <li><a href="/">Accueil</a></li>
                                            <li><a href="about.html">Histoire</a></li>
                                            <li><a href="services.html">Fabrication</a></li>
                                            <li><a href="schedule.html">Biéres</a></li>
                                            <li><a href="gallery.html">galleries</a></li>
                                            <li><a href="blog.html">Blog</a>
                                                <ul class="submenu">
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog_details.html">Blog Details</a></li>
                                                    <li><a href="elements.html">Element</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                    <a href="/auth/register" class="btn header-btn">S'inscrire</a>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                   
                                    <a href="/auth/login" class="btn header-btn" >Se connecter</a> 
                                </div>
                                <!-- Modal se connecter -->
                            </div>
                        </div>
                      
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? slider Area Start-->
        <div class="slider-area position-relative">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
                                <div class="hero__caption">
                                    <span data-animation="fadeInLeft" data-delay="0.1s">BREWER & BEER</span>
                                    <h1 data-animation="fadeInLeft" data-delay="0.4s">venez Decouvrir les Brasseurs de France
                                        et leurs Biéres.</h1>
                                    <a href="/auth/register" class="btn hero-btn" data-animation="fadeInLeft"
                                        data-delay="0.8s">S'inscrire</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
                                <div class="hero__caption">
                                    <span data-animation="fadeInLeft" data-delay="0.1s">BREWER & BEER</span>
                                    <h1 data-animation="fadeInLeft" data-delay="0.4s">L'ABUS D'ALCOOL EST DANGEREUX POUR
                                        LA SANTÉ, BIEN SUR... À CONSOMMER AVEC MODÉRATION.</h1>
                                    <a href="/auth/register" class="btn hero-btn" data-animation="fadeInLeft"
                                        data-delay="0.8s">S'inscrire</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video icon -->
            <div class="video-icon">
                <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=SX0vx7X5F_s"><i
                        class="fas fa-play"></i></a>
            </div>
        </div>
        <!-- slider Area End-->
        <!--? About Area Start -->
        <section class="about-area section-padding30">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="../assets/img/gallery/about.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="about-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle3 mb-35">
                                <span>le savoir biére</span>
                                <h2>la fabrication de la biere remonte a l'antiquité!</h2>
                            </div>
                            <p class="pera-top"> La bière est l'un des breuvages alcoolisés les plus anciens. Les
                                premières traces de son existence remontent à
                                environ 4000 ans avant J-C en Mésopotamie. Des tables d'argile témoignent de la présence
                                d'une boisson fermentée
                                élaborée à base de grains, le Sikaru. Ce breuvage fort apprécié a été l'objet de
                                différentes croyances tout au long
                                de son histoire.</p>
                            <p class="mb-65 pera-bottom"></p>
                            <a href="services.html" class="btn">savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About-2 Area End -->
        <!--? Services Area Start -->
        <section class="services-area pt-100 pb-150 section-bg" data-background="assets/img/gallery/sectionbg1.jpg">
            <!--? Want To work -->
            <section class="wantToWork-area w-padding">
                <div class="container">
                    <div class="row align-items-end justify-content-between">
                        <div class="col-lg-6 col-md-10 col-sm-10">
                            <div class="section-tittle section-tittle2">
                                <span>bien au chaud dans une base de donnée</span>
                                <h2>a ce jour plus de 1750 brasseurs français</h2>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <a href="services.html" class="btn wantToWork-btn f-right">savoir plus</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Want To work End -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <i class="flaticon-clock"></i>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">biere artisanal</a></h5>
                                <p>les produits utilisées, bio ou pas bio, les methodes de fabrications donnent des
                                    resultats trés interéssant.</p>
                            </div>
                            <div class="img-cap">
                                <a href="services.html" class="">A découvrir<i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">

                                <i class="flaticon-clock"></i>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">biere industriel</a></h5>
                                <p>pour les biéres dites de soif les industriels sont les champions, ce qui donne des
                                    biéres plutot banal.</p>
                            </div>
                            <div class="img-cap">
                                <a href="services.html" class="">A découvrir <i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <i class="flaticon-clock"></i>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">biere du monde</a></h5>
                                <p>Chaque pays nous offre des biéres avec des parfums différents qui nous transporte
                                    loin loin loin!.</p>
                            </div>
                            <div class="img-cap">
                                <a href="services.html" class="">A découvrir <i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Area End -->
        <!--? About-2 Area Start -->
        <section class="about-area2 testimonial-area section-padding30 fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-11 col-sm-11">
                        <!-- about-img -->
                        <div class="about-img2">
                            <img src="assets/img/gallery/affichevintage.jpg" alt="">
                            <!-- Shape -->
                            <div class="shape-qutaion d-none d-sm-block">
                                <img src="assets/img//gallery/qutaion.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-9 col-sm-9">
                        <div class="about-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-55">
                                <span>poésie beer</span>
                                <h2>Abreuver votre soif avec ces mots</h2>
                            </div>
                            <!-- Testimonial Start -->
                            <div class="h1-testimonial-active">
                                <!-- Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="testimonial-caption">
                                        <p> "Je sais que la bière fait grossir et que je devrais y renoncer. Mais j'ai
                                            préféré renoncer à la coquetterie"</p>
                                        <div class="rattiong-caption">
                                            <span>Michel Audiard<span>tonton flingueur</span> </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="testimonial-caption">
                                        <p>Bien sûr que je suis de gauche ! Je mange de la choucroute et je bois de la
                                            bière.</p>
                                        <div class="rattiong-caption">
                                            <span>Jacques Chirac<span>viva la corona</span> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-testimonial">
                                    <div class="testimonial-caption">
                                        <p>La bière, consommée avec modération, adoucit l'humeur, remonte le moral et
                                            améliore la santé.</p>
                                        <div class="rattiong-caption">
                                            <span>Thomas Jefferson<span>il fut le 3éme US </span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial End -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About-2 Area End -->
        <!--? Gallery Area Start -->
        <div class="gallery-area">
            <div class="container-fluid p-0 fix">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img"
                                style="background-image: url(assets/img/gallery/image1.jpg);"></div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <a href="gallery.html"><i class="ti-arrow-top-right"></i></a>
                                    <h3>biere blanche</h3>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="box snake mb-30">
                                    <div class="gallery-img small-img"
                                        style="background-image: url(assets/img/gallery/image2.jpg);"></div>
                                    <div class="overlay">
                                        <div class="overlay-content">
                                            <a href="gallery.html"><i class="ti-arrow-top-right"></i></a>
                                            <h3>biere brune</h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="box snake mb-30">
                                    <div class="gallery-img small-img"
                                        style="background-image: url(assets/img/gallery/image3.jpg);"></div>
                                    <div class="overlay">
                                        <div class="overlay-content">
                                            <a href="gallery.html"><i class="ti-arrow-top-right"></i></a>
                                            <h3>biere blonde</h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="box snake mb-30">
                                    <div class="gallery-img small-img"
                                        style="background-image: url(assets/img/gallery/image4.png);"></div>
                                    <div class="overlay">
                                        <div class="overlay-content">
                                            <a href="gallery.html"><i class="ti-arrow-top-right"></i></a>
                                            <h3>biere ambrée</h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="box snake mb-30">
                                    <div class="gallery-img small-img"
                                        style="background-image: url(assets/img/gallery/image5.jpg);"></div>
                                    <div class="overlay">
                                        <div class="overlay-content">
                                            <a href="gallery.html"><i class="ti-arrow-top-right"></i></a>
                                            <h3>biere noire</h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery Area End -->
        <!--? Want To work -->
        <section class="wantToWork-area w-padding">
            <div class="container">
                <div class="row align-items-end justify-content-between">
                    <div class="col-lg-6 col-md-9 col-sm-9">
                        <div class="section-tittle">
                            <span>devenez membre </span>
                            <h2>venez Decouvrir les brasseurs de votre region</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <!-- <a href="services.html" class="btn wantToWork-btn f-right">More Services</a> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End -->
        <!--? Team Ara Start -->
        <div class="team-area pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="assets/img/gallery/gallery7.jpg" alt="">
                                <div class="team-caption">
                                    <span>brewer's beer</span>
                                    <h3><a href="#">actualitées</a></h3>
                                    <!-- Blog Social -->
                                    <div class="team-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="assets/img/gallery/gallery4.jpg" alt="">
                                <div class="team-caption">
                                    <span>brewer's beer</span>
                                    <h3><a href="#">événements</a></h3>
                                    <!-- Blog Social -->
                                    <div class="team-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="assets/img/gallery/gallery3.jpg" alt="">
                                <div class="team-caption">
                                    <span>brewer's beer</span>
                                    <h3><a href="#">decouverte</a></h3>
                                    <!-- Blog Social -->
                                    <div class="team-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Ara End -->
        <!--? Want To work -->
        <section class="wantToWork-area w-padding section-bg" data-background="assets/img/gallery/section_bg02.png">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10">
                        <div class="wantToWork-caption">
                            <h2>le meilleur de l'étè tout en douceur</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <!-- <a href="services.html" class="btn wantToWork-btn f-right">More Services</a> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End -->
        <!--? Date Tabs Start -->
        <section class="date-tabs section-padding30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="section-tittle text-center mb-100">
                            <span>en attendant</span>
                            <h2>les événements de la semaine</h2>
                        </div>
                    </div>
                </div>
                <!-- Heading & Nav Button -->
                <div class="row justify-content-center mb-10">
                    <div class="col-lg-11">
                        <div class="properties__button">
                            <!--Nav Button  -->
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                        role="tab" aria-controls="nav-home" aria-selected="true">Samedi 20 juin</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                        href="#nav-profile" role="tab" aria-controls="nav-profile"
                                        aria-selected="false">Dimanche</a>
                                    <a class="nav-item nav-link active" id="nav-contact-tab" data-toggle="tab"
                                        href="#nav-contact" role="tab" aria-controls="nav-contact"
                                        aria-selected="false">Lundi</a>
                                    <a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#nav-last"
                                        role="tab" aria-controls="nav-contact" aria-selected="false">Mardi</a>
                                    <a class="nav-item nav-link" id="nav-Sports" data-toggle="tab" href="#nav-nav-Sport"
                                        role="tab" aria-controls="nav-contact" aria-selected="false">Mercredi</a>
                                    <a class="nav-item nav-link" id="nav-six" data-toggle="tab" href="#nav-nav-six"
                                        role="tab" aria-controls="nav-contact" aria-selected="false">Jeudi</a>
                                    <a class="nav-item nav-link" id="nav-seven" data-toggle="tab" href="#nav-nav-seven"
                                        role="tab" aria-controls="nav-seven" aria-selected="false">Vendredi</a>
                                </div>
                            </nav>
                            <!--End Nav Button  -->
                        </div>
                    </div>
                </div>
                <!-- Tab content -->
                <div class="row justify-content-center">
                    <div class="col-lg-11">
                        <!-- Nav Card -->
                        <div class="tab-content" id="nav-tabContent">
                            <!--  one -->
                            <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="tab-wrapper">
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span></span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span></span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption active text-center">
                                                    <div class="caption">
                                                        <span></span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span></span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span></span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  Two -->
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                aria-labelledby="nav-profile-tab">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="tab-wrapper">
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption active text-center">
                                                    <div class="caption">
                                                        <span></span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span></span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span></span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span></span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span></span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  Three -->
                            <div class="tab-pane fade show active" id="nav-contact" role="tabpanel"
                                aria-labelledby="nav-contact-tab">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="tab-wrapper">
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption active text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  Fur -->
                            <div class="tab-pane fade" id="nav-last" role="tabpanel" aria-labelledby="nav-last-tab">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="tab-wrapper">
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption active text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  Five -->
                            <div class="tab-pane fade" id="nav-nav-Sport" role="tabpanel" aria-labelledby="nav-Sports">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="tab-wrapper">
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption active text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  Six -->
                            <div class="tab-pane fade" id="nav-nav-six" role="tabpanel" aria-labelledby="nav-six">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="tab-wrapper">
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption active text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  seven -->
                            <div class="tab-pane fade" id="nav-nav-seven" role="tabpanel" aria-labelledby="nav-seven">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="tab-wrapper">
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single -->
                                            <div class="single-box">
                                                <div class="single-caption active text-center">
                                                    <div class="caption">
                                                        <span>6am - 8am</span>
                                                        <h3>Kick Boxing</h3>
                                                        <p><span>by</span> Jhos Kusam</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Nav Card -->
                    </div>
                </div>
            </div>

        </section>
        <!-- Date Tabs End -->
        <!--? Contact form Start -->
        <section class="contact-form-main">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-xl-7 col-lg-7">
                        <div class="form-wrapper">
                            <!--Section Tittle  -->
                            <div class="form-tittle">
                                <div class="row ">
                                    <div class="col-lg-11 col-md-10 col-sm-10">
                                        <div class="section-tittle">
                                            <span>Formulaire de contact</span>
                                            <h2>laisser nous des commentaires et suggestions!</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Section Tittle  -->
                            <form id="contact-form" action="#" method="POST">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-box user-icon mb-30">
                                            <input type="text" name="name" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-box email-icon mb-30">
                                            <input type="text" name="email" placeholder="Phone">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mb-30">
                                        <div class="select-itms">
                                            <select name="select" id="select2">
                                                <option value="">Boxing</option>
                                              
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-box subject-icon mb-30">
                                            <input type="Email" name="subject" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-box message-icon mb-65">
                                            <textarea name="message" id="message" placeholder="Message"></textarea>
                                        </div>
                                        <div class="submit-info">
                                            <button class="btn" type="submit">Envoyez message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contact left Img-->
            <div class="from-left d-none d-lg-block">
                <img src="assets/img/gallery/houblon_vert.jpg" alt="houblon vert">
            </div>
        </section>
        <!-- Contact form End -->
        <!--? Blog Area Start -->
        <section class="home-blog-area section-padding30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-9 col-sm-10">
                        <div class="section-tittle text-center mb-100">
                            <span>lieu de rdv</span>
                            <h2>les brasseries </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-img-cap">
                                <div class="blog-img">
                                    <img src="assets/img/gallery/beer.jpg" alt="">
                                    <!-- Blog date -->
                                    <div class="blog-date text-center">
                                        <span>10</span>
                                        <p>Maintenant</p>
                                    </div>
                                </div>
                                <div class="blog-cap">
                                    <span>brewer's beer</span>
                                    <h3><a href="blog_details.html">Découvrir à travers des lieux et des régions </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-img-cap">
                                <div class="blog-img">
                                    <img src="assets/img/gallery/beerlondon.jpg" alt="">
                                    <!-- Blog date -->
                                    <div class="blog-date text-center">
                                        <span>10</span>
                                        <p>Naintenant</p>
                                    </div>
                                </div>
                                <div class="blog-cap">
                                    <span>brewer's beer</span>
                                    <h3><a href="blog_details.html">Decouvrir des centaines de biéres différentes</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Area End -->
    </main>
    <%- include('partial/footer.ejs')%>