<%- include('partial/head.ejs')%>


<body>
          <!--? Hero Start -->
          <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center pt-70">
                                <h2>la biére</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
<%- include('partial/header.ejs')%>
<main>
    <div class="whole-wrap">
       <div class="container box_1170">
          <div class="section-top-border">
             <h1 class="mb-30">DIFFERENTES BIERES</h1>
             <div class="row">
                <div class="col-md-3">
                   <img src="../assets/img/elements/beers.png" alt="brasseurs bieres blonde" class="img-fluid">
                </div>
                <div class="col-md-9 mt-sm-20">
                   <p style="text-align: justify;" >Pour se retrouver parmi les différentes variétés de bières, les usagers ont pris l'habitude de classifier les bières par couleur (blanche, blonde, ambrée (ou rousse), brune, rouge ou noire) ou par mode de fabrication (double, triple...), ou encore par degré d'alcool. Plusieurs organismes ont tenté d'établir une classification des bières en listant des types de bières afin de les catégoriser. La solution la plus utilisée actuellement est un découpage basé sur des normes anglo-saxonnes.

                     Ce classement reconnu par l'Institut de la bière1 (Canada) et la Beer Judge Certification Program (BJCP)2 (États-Unis) permet de classer la majeure partie des bières (de grande production), mais il est plus difficile d'y ranger les bières artisanales ayant souvent plus de personnalité. Ainsi certains organismes ont aussi leur classement.</p>
                </div>
             </div>
          </div>
          
          <div class="section-top-border">
             <h1 class="mb-30">Definition catégories biéres</h1>
             <div class="row">
                <div class="col-md-4">
                   <div class="single-defination">
                      <h2 class="mb-20">Bock</h2>
                      <p style="text-align: justify;">Maibock/Helles Bock, une lager forte et maltée, relativement pâle. Le houblon doit être plus évident qu’avec les autres bocks.
                        Bock, une lager foncée, forte et maltée.
                        Doppelbock, une lager très alcoolisée et riche, davantage que la bock ou la helles bock.
                        Eisbock, une lager fortement alcoolisée, riche et maltée.</p>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="single-defination">
                      <h2 class="mb-20">Hybrides ambrées</h2>
                      <p style="text-align: justify;">  Altbier du nord, une bière très nette et amère, équilibrée par la présence du malt. Souvent plus foncée, plus caramélisée, plus sucrée et moins amère que la Düsseldorf Altbier.
                        California Common, une bière légèrement fruitée avec un malté ferme et céréalier. On retrouve des notes de pain grillé et de caramel.
                        Düsseldorf Altbier, une bière allemande de fermentation haute, bien équilibrée, amère, maltée, nette, veloutée et bien atténuée.</p>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="single-defination">
                      <h2 class="mb-20">Brown Ale</h2>
                      <p style="text-align: justify;">Mild, une bière au goût léger, dont l’accent porte sur le malt et bien faite pour être bue en grandes quantités. Rafraîchissante mais goûteuse.
                        Southern English Brown, une bière suave, avec un fort penchant pour le malt. Des notes de caramel et de fruits lui donnent une complexité agréable.
                        Northern English Brown Ale, plus sèche et davantage centrée sur le houblon que les southern English brown ale, avec des notes de noisettes qui remplacent celles de caramel.</p>
                   </div>
                </div>
                <div class="col-md-4">
                  <div class="single-defination">
                     <h2 class="mb-20">Hybrides blondes</h2>
                     <p style="text-align: justify;">Cream Ale, une bière américaine d’été nette, bien atténuée et goûteuse.
                        Ale Blonde, Bonne bière d’initiation aux bières de dégustation.
                        Kölsch, une bière nette et délicate, démontrant un bel équilibre accompagné d’arômes et de saveurs fruités. La discrétion du malt en fait une bière rafraîchissante. Peut être méprise pour une lager blonde ou même une pilsner peu houblonnée.
                        Bière américaine de blé ou de seigle, bières de blé ou de seigle rafraîchissantes, présentant de plus fortes notes de houblon avec une signature de levure moins présente que chez les bières de blé allemandes.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single-defination">
                     <h2 class="mb-20">India Pale Ale (I.P.A)</h2>
                     <p style="text-align: justify;">IPA britannique, une pale ale modérément alcoolisée et fortement houblonnée, combinant les caractéristiques propres aux malts et aux levures anglaises. Plus maltée et moins houblonnée que les interprétations américaines.
                        IPA américaine, une pale ale américaine très houblonnée et amère.
                        Imperial IPA (I2PA), une pale ale fortement alcoolisée et intensément houblonnée, sans les notes maltées retrouvées dans les barley wines.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single-defination">
                     <h2 class="mb-20">Lager ambrée</h2>
                     <p style="text-align: justify;">Viennoise, se caractérise par un malté suave et velouté qui se termine par une finale sèche, empêchant que la dominante soit sucrée.
                        Oktoberfest/Märzen, douce, nette et riche, avec une profondeur maltée. Il s’agit d’un style très typiquement malté, avec des caractéristiques de malt qui sont souvent décrites comme étant douces, complexes et élégantes, sans jamais être « collantes ».</p>
                  </div>
               </div>
            </div>
          </div>
          <div class="section-top-border">
            <h2 class="mb-30">Par style de fermentation</h2>
            <div class="row">
               <div class="col-lg-12">
                  <blockquote style="font-size: 15px; text-align: justify;" class="generic-blockquote">
                     Par style de fermentation3 :

                     fermentation spontanée : Lambic ;
                     fermentation basse : Lager, Pilsner ;
                     fermentation haute : Bières d'abbaye, Trappiste, Ales, Weißbier, Stout ;
                     fermentation mixte ou hybride : Bière rouge.
                  </blockquote>
               </div>
            </div>
         </div>
          <div class="section-top-border">
             <h2 class="mb-30">Par degré d'alcool</h2>
             <div class="row">
                <div class="col-lg-12">
                   <blockquote style="font-size: 15px; text-align: justify;" class="generic-blockquote">
                     Dans certains pays, les bières sont classifiées par leur degré d'alcool.

                     En France les bières sont classées en Bière sans alcool (moins de 1,2°), Bière bock et de table (jusqu'à 3,9°), Bière de luxe (entre 4,4° et 5,4°) et Bière spéciale (plus de 5,5°).
                     
                     En Suède et en Finlande cette classification était utilisée à la fois pour les calculs de taxe et pour les autorisations de vente jusqu'aux entrées dans l'Union Européenne en 1995. Il reste aujourd'hui certaines limites de vente liées à cette classification historique4. Les deux pays ont quelques différences mineures.
                   </blockquote>
                </div>
             </div>
          </div>

         


       </div>
    </div>


    </section>


 </main>

<%- include('partial/footer.ejs')%>