<header>
    <!--? Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <p href="/" style="font-size: 20px; font-weight:700; color:white"><img
                                    src="../assets/img/logo/logo2.png" alt=""> BREWER & BEER </p>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10">
                        <div class="menu-main d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>

                                    <ul id="navigation" style="font-weight: 700;">


                                 <li><a href="/"></a></li>
                                        <li><a href="/">Accueil</a></li>
                                        <li><a href="/brasseurs">les Brasseurs</a></li>
                                        <li><a href="/gallery">galleries</a></li>
                                        <li><a href="#">divers</a>
                                            <ul class="submenu">
                                                <li><a href="#">Histoire</a></li>
                                                <li><a href="#">Fabrication</a></li>
                                                <li><a href="#">La Biére</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/contact">contact</a></li>
                                        <li><a href="/admin/dashboard">dashboard</a></li>
                                      
                                    </ul>
                                </nav>
                            </div>
                           
                            <!-- <div class="header-right-btn f-right d-none d-lg-block ml-30">

                                <a href="/auth/logout" class="btn header-btn">Se deconnecter</a>
                            </div> -->
                            
                            
                          
                            <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                <a href="/auth/register" class="btn header-btn">S'inscrire</a>
                            </div>
                        
                        
                            <div class="header-right-btn f-right d-none d-lg-block ml-30">

                                <a href="/auth/login" class="btn header-btn">Se connecter</a>
                            </div>
                        

                            <!-- Modal se connecter -->
                        </div>
                    </div>


                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>